@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

#wrapper {
    width: 1456px;
    height: 1985px;
    margin: 0 auto;
}



/* Navigation menu*/
header{
    width: 1456px;
    height: 117px;
    border-bottom: 10%;
}

main{
    max-width: 76%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    list-style: none;
    color: black;
}

ul {
    width: 100%;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

nav ul li:last-of-type {
    margin-left: auto;
}

nav ul li{
    margin-top: 50px;
}

div .links{
    display: flex;
    gap: 30px;
}

div .links span{
    color: rgb(234, 32, 16);
    font-weight: bold;
}
div .links {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*main*/

.annonce img{
    margin-top: 25px;
    width: 1097px;
    height: 217px;
}

.first_article_p{
    color: rgb(234, 32, 16);
    font-weight: bold;
}

.first_article_p span {
    color: rgb(208, 204, 204);
    font-weight: bold;
}

.dinner_table img {
    width: 726px;
    height: 485px;
}

.first_article{
    display: grid;
    gap: 10px;
    margin-left: 33.5%;
    margin-top: 5%;
    margin-bottom: 2%;
}

div .article_picture{
    width: 726px; 
    height: 485px;
}

.article_picture img {
    margin-left: 51%;
    width: 726px;
    height: 485px;
}

div .article_picture p{
    display: flex;
}
   