* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#wrapper {
    width: 1456px;
    height: 1985px;
    margin: 0 auto;
}

/* Navigation menu*/
header{
    width: 1456px;
    height: 117px;
    
}

a {
    text-decoration: none;
    list-style: none;
    color: black;
}

ul {
    width: 100%;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

nav ul li:last-of-type {
    margin-left: auto;
}

nav ul li{
    margin-top: 50px;
}

div .links{
    display: flex;
    gap: 30px;
}

div .links span{
    color: red;
}
