@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

#wrapper {
    width: 1456px;
    height: 1985px;
    margin: 0 auto;
}



/* Navigation menu*/
header {
    width: 1456px;
    height: 117px;
    border-bottom: 10%;
}

main {
    max-width: 76%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    list-style: none;
    color: black;
}

ul {
    width: 100%;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

nav ul li:last-of-type {
    margin-left: auto;
}

nav ul li {
    margin-top: 50px;
}

div .links {
    display: flex;
    gap: 30px;
}

div .links span {
    color: rgb(234, 32, 16);
    font-weight: bold;
}

div .links {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*main*/

.annonce img {
    margin-top: 25px;
    width: 1097px;
    height: 217px;
}

.first_article_p {
    color: rgb(234, 32, 16);
    font-weight: bold;
}

.first_article_p span {
    color: rgb(208, 204, 204);
    font-weight: bold;
}

.first_article {
    display: grid;
    gap: 10px;
    margin-left: 23%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.flex-container-one {
    display: flex;
}

.flex-container-one > div{
    margin-left: 23%;
}

.content img{
    width: 839px;
    height: 561px;
}
/*section second*/

.Section_one_start{
    margin-top: 25px;
}

.section_header {
    color: rgb(234, 32, 16);
    font-size: large;
}

/*ikoner*/

.clock{
    color: rgb(212, 213, 217);
}

.comment{
    color: rgb(204, 204, 204);
}

.container p{
    font-weight: bold;
}

.left_box {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.left_box img {
    width: 55px;
    height: 55px;
    border-radius: 55px;
}

.name {
    font-weight: bold;
}

.container{
    display: flex;
    gap: 35%;
    margin-bottom: 10px;
}

.socials {
    display: flex;
}

/*article content*/

.flex-container{
    display: flex;
}

.flex-container > div{
    margin-left: 23%;
}

.fade{
    color: rgb(126, 125, 129);
}

.fadetwo{
    color: rgb(162, 154, 155);
}

.fadethree {
    color: rgb(223, 222, 221);
}

.fadefour{
    color: rgb(243, 244, 246);
}

/*abonnement*/

.abonnement_sub{
    text-align: center;
    font-size: large;
    font-weight: bolder;
}
.abonnement_subp{
    text-align: center;
}

.border{
    
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    display: grid;
    width: 171px;
    height: 30px;
    background-color: rgb(234, 32, 16);
    text-align: center;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.2);
}

.border:hover {
    transform: scale(1.25);
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.3);
}
.border span {
    color: white;
}

.underline{
    text-decoration: underline;
}